#top-menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgba(8, 152, 152, 0.537);
    height: 30px;
    border-radius: 30px;
    
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 20px;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: brown;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
